* {
  font-family: Verdana;
  width: 70%;
}

h2 {
  text-align: center;
  font-size: 16pt;
  background-color: rgb(127, 130, 219);
  padding: 10px;
}

h3 {
  font-size: 10pt;
}

button {
  border-style: none;
  border-radius: 15px;
  background-color: black;
  color: rgb(207, 209, 248);
  margin: 5px 10px;
  padding: 8px 15px;
}

button:hover {
  background-color: rgb(127, 130, 219);
  color: black;
}

input {
  border-radius: 15px;
  border: solid 2px;
  padding: 5px;
  width: 45%;
  margin: 10px;
}

.cart-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
